    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
    </div>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1UWWYaY_j6EMU25AtXR--kR8xK1OLC8Uh" width="100%" height="680"></iframe>
    <h2 class="mt-4 mb-4">Lignes activées</h2>
    <!-- <div class="mb-3">
<table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Ligne</th>
        <th scope="col">Direction</th>
        <th scope="col">Nombre de passagers</th>
        <th scope="col">En service</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ligne of lignes">
        <th scope="row">{{ ligne.numero }}</th>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      </tbody>
    </table>
    </div> -->
    