    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
    </div>
    <div *ngIf="loading" class="global">
      <app-loading-spinner ></app-loading-spinner>
    </div>
    <div *ngIf="!loading">
      <div style="margin: 20px 0;" *ngIf="tramToDeploy">
        <h2 class="h2">Prévisions de tram à déployer le {{tramToDeployDate}} pour la ligne {{tramToDeployLigne}}</h2>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Ligne</th>
            <th scope="col">Tram</th>
            <th scope="col">Prévision du nombre de passager</th>
            <th scope="col">Etat</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{tramToDeploy.ligne_id}}</td>
            <td>{{tramToDeploy.nbTram}}</td>
            <td>{{tramToDeploy.prediction}}</td>
            <td *ngIf="tramToDeploy.isApproved" style="color: green;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg></td>
            <td *ngIf="!tramToDeploy.isApproved" style="color: red;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg></td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-primary mb-5" (click)="submit()">Chercher une nouvelle prédiction</button>
      </div>
      <h2 class="mt-2 mb-3" *ngIf="!tramToDeploy">Tram à deployer</h2>
      <button class="btn btn-primary mb-5" *ngIf="!tramToDeploy" (click)="submit()">Chercher une prédiction</button>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1UWWYaY_j6EMU25AtXR--kR8xK1OLC8Uh" width="100%" height="680"></iframe>
    <h2 class="mt-4 mb-4">Lignes activées</h2>
    <div class="mb-3">
        <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Ligne</th>
        <th scope="col">Direction</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ligne of lignes">
        <th scope="row">{{ ligne.numero }}</th>
        <td>{{ ligne.libelle }}</td>
      </tr>
      </tbody>
    </table>
    </div>
    <!-- <button class="btn btn-primary mb-4" [disabled]="!date || !ligne || !time">Chercher</button> -->
  </div>

  
    