<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Graphique des prévisions</h1>
</div>
<div class="graph">
<div class="buttons mb-4">
    <button class="btn btn-secondary mr-2" (click)="fetchPrevisions()" [class.active]="params === 'prevision'">Par mois (2021)</button>
    <!-- <button class="btn btn-secondary mr-2" (click)="fetchYear()" [class.active]="params === 'year'">Par année</button>
    <button class="btn btn-secondary" (click)="fetchMonth()" [class.active]="params === 'month'">Par mois</button> -->
    <!-- <ngb-datepicker #d1 [(ngModel)]="date" #c1="ngModel"></ngb-datepicker> -->
 </div>
    <div>
        <div style="display: block">
            <div *ngIf="loading" class="global">
                <app-loading-spinner ></app-loading-spinner>
              </div>
            <canvas baseChart *ngIf="!loading" 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins"
            >
        </canvas>
                  </div>
      </div>
    </div>