@import './assets/scss/variables.scss';

body {
  margin: 0;
}

.btn-link {
  color: $primary-color !important;
}

.btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(54, 184, 28, 0.5) !important;
  }
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(54, 184, 28, 0.5) !important;
}
